In [13]:
import pandas as pd

In [14]:
res1 = pd.read_excel('Submission v5_0.99053857.xlsx') # random_seed 1
res2 = pd.read_excel('Submission v9_0.99017467.xlsx') # random_seed 10 
res3 = pd.read_excel('Submission v8_0.98944687.xlsx') # random_seed 123456789

In [4]:
df = pd.DataFrame()

In [5]:
df['SECTION1'] = res1['SECTION']
df['SECTION2'] = res2['SECTION']
df['SECTION3'] = res3['SECTION']

In [6]:
sub = pd.DataFrame()
sub['SECTION'] = df.mode(axis=1)[0]
sub.head()

   SECTION
0        1
1        2
2        1
3        1
4        1

In [7]:
sub['SECTION'].value_counts()

1    1182
2     825
0     420
3     321
Name: SECTION, dtype: int64

In [8]:
sub.to_excel('Final_Submission.xlsx', index=False)